.elements__lists {
    padding: 0;
    margin: 0;
    margin-top: calc(39px + (49 - 39)*((100vw - 320px)/(1280 - 320)));
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    grid-gap: 19px 17px;
    justify-items: center;
}

@media screen and (max-width: 767px) {
    .elements__lists {
        gap: 22px;
    }
}